.about {
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
}

.pfp {
	margin-left: 50%;
	margin-right: 50%;
	width: 30%;
}

.pfp:hover {
	animation: shake 0.3s;
	animation-iteration-count: infinite;
  }