.about {
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	font-size: medium;
	margin-bottom: 5%;
}

.pfp {
	align-content: center;
	margin-left: 35%;
	width: 30%;
}

.pfp:hover {
	animation: shake 0.3s;
	animation-iteration-count: infinite;
  }
