.main {
	overflow: hidden;
	background-color: lightblue;
}

.list {
	list-style: none;
}

.listitem {
	display: inline;
	padding: 10%;
}

.button {
	color: black;
}

.main a {
	color: #000000;
	text-decoration: none;
}

.icon {
	width: 32px;
}

.copy {
	text-align: center;
}