.main {
	overflow: hidden;
	align-items: center;
}

.main ul{
	list-style: none;
}

.main li {
	display: inline;
	margin: 0% 5% 0% 5%;
}

.main a {
	color: #000000;
	text-decoration: none;
}

.icon {
	width: 32px;
}

.text {
	text-align: center;
}

.button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
