.main {
	overflow: hidden;
	background-color: #A7C7E7;
	align-items: center;
}

.list {
	margin-left: 25%;
	list-style: none;
}

.listitem {
	display: inline;
	padding: 10%;
}


.main a {
	color: #000000;
	text-decoration: none;
}

.icon {
	width: 32px;
}

.text {
	text-align: center;
}