.navigation {
	display: flex;
}

.container {
	float: left;
}

.navbarlist {
	list-style: none;
	float: right;
}

.navlink {
	list-style: none;
	color: black;
	text-decoration: none;
}

#title {
	font-size:xx-large;
	font-weight: bold;
}

.navitem {
	display: inline;
}